<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First App</title>
</head>
<body>
<h1>Welcome to Metting Planner</h1>
<br>
<p>
    This is a demo application for introducing django to a naive user.
</p>
<p>
  <h3>List of Meetings</h3>

  <ul>
      {% for meeting in meetings %}
      <li>
          <a href="{% url 'meeting_detail' meeting.id %}">
              {{meeting.title}}
          </a> scheduled at {{meeting.date}} on {{meeting.start_time}} in room {{meeting.room}}
      </li>
      {% endfor %}
  </ul>
</p>
</body>
</html>